<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Core Meta Data -->
	<meta name="author" content="Bixuange">
	<meta name="description" content="生毛豆, 让你过有温度的生活。">
	<meta name="keywords" content="shengmaodou,bixuange,生毛豆,贔玄阁,赑玄阁,温度">
	<%= favicon_link_tag 'static_page/icon_19x19.png', sizes: "16x16" %>
	<%= favicon_link_tag 'static_page/icon_32x32.png', sizes: "32x32" %>
	<%= favicon_link_tag 'static_page/icon_48x48.png', sizes: "48x48" %>
	<%= favicon_link_tag 'static_page/icon_96x96.png', sizes: "96x96" %>
	<%= favicon_link_tag 'static_page/icon_192x192.png', sizes: "192x192" %>
	<%= favicon_link_tag 'static_page/icon_192x192.png', rel: 'apple-touch-icon', type: 'image/png' %>
	<title>生毛豆 | 贔玄阁</title>
</head>
<body>
	<div class = "cover"></div>
	<section class="cd-fixed-background img-1" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-2" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-3" data-type="slider-item">
		<div class="cd-content light-background">
		</div>
	</section>

	<section class="cd-fixed-background img-4" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-5" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-6" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-7" data-type="slider-item">
		<div class="cd-content">
		</div>
	</section>

	<section class="cd-fixed-background img-8 cd-product" data-type="slider-item" id="product-1">
		<div class="cd-product-intro"> </div>
		<a href="#cd-product-tour" class="cd-start" ></a>
		<div id="cd-product-tour" class="cd-product-mockup">
			<%= image_tag("static_page/img-page-8.jpg", alt: "Edit Entry", id: "mockup-image")%>
			<ul class="cd-points-container page-1">
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-right">
						<p>
							可预测温度并提供建议
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->

				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-left cd-top">
						<p>
							点击显示菜单
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-right cd-top">
						<p>
							温度变化曲线，虚线为预测趋势
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-right">
						<p>
							生毛豆会随温度变化而改变表情
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-bottom cd-left">
						<p>
							分享温度信息
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->
				<li class="cd-single-point">
					<a class="cd-img-replace" href="#0"></a>
					<div class="cd-more-info cd-bottom cd-right">
						<p>
							测温模式
						</p>
						<a href="#0" class="cd-close-info cd-img-replace"></a>
					</div>
				</li> <!-- .cd-single-point -->
			</ul> <!-- .cd-points-container -->

			<div class="cd-3d-right-side green"></div>
			<div class="cd-3d-bottom-side green"></div>
		</div> <!-- .cd-product-mockup -->
		<a href="#0" class="cd-close-product-tour cd-img-replace"></a>
	</section> <!-- .cd-product -->


	<section class="cd-fixed-background img-9" data-type="slider-item">
		<div class="cd-content">
		</div>
		<div class="link_cont">

			<a id="to_store" class="link_block" href="http://item.taobao.com/item.htm?id=45490875177">
				<div class="bracket_left"></div>
				<span>热蒸现卖</span>
				<div class="bracket_right"></div>
			</a>
			<a id="to_bixuange" class="link_block" href="http://bixuange.com">
				<div class="bracket_left"></div>
				<span>赑玄阁督造</span>
				<div class="bracket_right"></div>
			</a>
			<a id="to_qr" class="link_block">
				<%= image_tag("static_page/QR.jpg", alt: "Edit Entry")%>
			</a>
			<!-- <a id="to_itunes" class="link_block" href="http://apple.com"></a> -->
		</div>
	</section>

	<nav>
		<ul class="cd-vertical-nav">
			<li><a href="#0" class="cd-prev inactive">Next</a></li>
			<li><a href="#0" class="cd-next">Prev</a></li>
		</ul> <!-- cd-vertical-nav -->
	</nav>

	<div class="footer">
				Copyright<i style="font-family:MicroSoft YaHei;font-size:10px;padding:0 3px;">©</i>2014-2017 ｜ 深圳市赑玄阁科技有限公司版权所有 | 粤ICP备15012844号
	</div>
	<%= stylesheet_link_tag 'dou'%>
	<%= javascript_include_tag "dou" %>
  <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=ad900a82-356f-40e8-a7e1-7936a70ca010&width=75&height=105&type=1" type="text/javascript" charset="utf-8"></script>
</body>
</html>
